@import url("https://fonts.googleapis.com/css2?family=Anta&family=Kdam+Thmor+Pro&family=Montserrat+Subrayada:wght@400;700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(blackbg.avif); */
  background-color: black;
}

.heading h1 {
  color: white;
  height: 4rem;
  line-height: 4rem;
  font-family: poppins;
  font-size: 28px;
  text-align: center;
  background-color: rgb(29, 0, 29);
  border-bottom: 2px solid grey;
}

.choice {
  width: 165px;
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choice:hover {
  cursor: pointer;
  background-color: rgb(53, 53, 53);
  border-radius: 40px;
}

img {
  width: 160px;
  height: 150px;
  object-fit: fill;
  border-radius: 50px;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 40px;
  flex-wrap: wrap;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: poppins;
  margin-top: 2rem;
  gap: 3rem;
}

#user-score,
#comp-score {
  font-size: 3rem;
  font-weight: 600;
}

.msg-container {
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
}

#msg {
  background-color: rgb(29, 0, 29);
  display: inline;
  padding: 10px 30px;
  color: white;
  font-family: poppins;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid white;
}
